 /*Color palette*/
    #color1 {color: #ffcd62}
    #color2 {color: #cc8c3b}
    #color3 {color: #905a26}
    #color4 {color: #603213}
    #color5 {color: #371604}


 /* Style the body */
 body {
     margin: 0;
     font-size: 18;
     font-family: Arial, Helvetica, sans-serif;
     color: #ffcd62;
     background-color: #371604;
 }

 /* Style the header */
 .header {
     background-color: silver;
     padding: 30px;
     text-align: center;
 }

 /* Style the navbar */
 #navbar {
    overflow: hidden;
    background-color: sienna;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #navbar a.active {
      background-color: yellowgreen;
  }

  #navbar a:hover {
      background-color: violet;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  } 